<!-- style="background-color: #2a8c;" -->
<div class="grid mb-2" style="background-color: black;">
  <div class="col-12">
    <p-menubar [model]="menuItems" >
      <ng-template pTemplate="end">
        <!-- <img src="./../../../../assets/gallina.png" height="40" alt="Icono"> -->
        <!-- <img width="50" height="50" src="https://img.icons8.com/plasticine/100/chicken.png" alt="chicken"/> -->
        <img width="50" height="50" src="https://img.icons8.com/matisse/100/henhouse.png" alt="henhouse"/>

      </ng-template>
      <!-- src="./favicon.ico" -->
    </p-menubar>
  </div>

</div>
