<home-carrucel-imagenes></home-carrucel-imagenes>
<div class="m-2 grid justify-content-center align-items-center">
  <div class="col-12 md:col-6 lg:col-4">
    <p-fieldset [toggleable]="true" [style]="{
      'background-color':'#74766f',
      'color':'white'
      }"

      >
      <p-header [style]="{}">Gallinas</p-header>
      <p>
        Colocamos informacion acerca de las gallinas o una descripcion de manera general
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6 lg:col-4">
    <p-fieldset legend="Gallos" [toggleable]="true">
      <p>
        Colocamos informacion acerca de los gallos o una descripcion de manera general
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-fieldset [toggleable]="true" [style]="{
      'background-color':'#74766f',
      'color':'white'
      }"

      >
      <p-header [style]="{}">Informacion</p-header>
      <p>
        Colocamos informacion que quieras mostrar a las personas, como entregas el producto etc.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </p-fieldset>
  </div>
</div>
