<shared-menu></shared-menu>
<div class="h-max">
  <router-outlet></router-outlet>
</div>



<!-- <div class="" [style]="{'bottom:':'0'}"> -->



<div class="grid mt-2 align-items-center" style="background-color: #28696a;">
  <div class="col-8 align-items-center">
    <div class="grid align-items-center" [style]="{'height':'fit-content '}">
      <div class="col-12  align-items-center text-center font-bold text-white ">
        <div class="border-double">
          <h2>Información de contacto</h2>
          <div class="flex justify-content-around align-items-center ">
            <div>
              <p>Correo electrónico</p>
              <p>info@tuempresa.com</p>
            </div>
            <div>
              <p>Teléfono</p>
              <p>(123) 456-7890</p>
            </div>
            <div>
              <p>Dirección</p>
              <p>Dirección de tu negocio</p>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div
          class="col-12 align-items-center text-center font-bold flex justify-content-around flex-wrap align-items-center">

          <p>Copyright &copy; 2024</p>
          <p>Create by P.M.S</p>

        </div>
      </div>

    </div>
  </div>

  <div class="col-4">

    <div class="text-center p-3 border-round-sm text-white font-bold border-dashed" [style]="{'height':'fit-content '}">
      <h2>Siguenos en nuestras redes sociales</h2>
      <div class="grid flex justify-content-center align-items-center h-full">

        <div class="col-4">
          <div class="text-center p-3  order-round-sm  font-bold">
            <style>
              .hover-1 {
                transition: box-shadow 0.3s ease;
                border-radius: 50%;
                /* Agrega una transición suave al efecto */
              }

              .hover-1:hover {
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                border-radius: 10%;
                /* Agrega una sombra que resalta el contorno */
              }
            </style>
            <img class="hover-1 bg-primary" src="./../../../../assets/svg/facebook.svg">

          </div>
        </div>

        <div class="col-4">
          <div class="text-center p-3  order-round-sm  font-bold">
            <style>
              .hover-1 {
                transition: box-shadow 0.3s ease;
                border-radius: 50%;
                /* Agrega una transición suave al efecto */
              }

              .hover-1:hover {
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                border-radius: 10%;
                /* Agrega una sombra que resalta el contorno */
              }
            </style>
            <img class="hover-1 bg-primary" src="./../../../../assets/svg/whatsapp.svg">

          </div>
        </div>

        <div class="col-4">
          <div class="text-center p-3  order-round-sm  font-bold">
            <style>
              .hover-1 {
                transition: box-shadow 0.3s ease;
                border-radius: 50%;
                /* Agrega una transición suave al efecto */
              }

              .hover-1:hover {
                box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
                border-radius: 10%;
                /* Agrega una sombra que resalta el contorno */
              }
            </style>
            <img class="hover-1 bg-primary" src="./../../../../assets/svg/instagram.svg">

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- </div> -->
